<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/chat-app.css">
    <link rel="icon" href="/images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/frontend.js"></script>
</head>
<body class="{{class}}">
<div class="main-wrap">
<div class="content">
    <h3>{{intro_heading}}</h3>
    <p>{{intro_desc}}</p>